<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.tradefix.dao.SapDao">

    <select id="selectSapInfo" parameterType="com.lbx.tradefix.vo.query.SAPInfoQuery" resultType="com.lbx.tradefix.vo.SAPInfo">
        SELECT i.pbseqid,i.goodsid,i.pkid,h.billdate,posbillno,total
        FROM T_SAP_POS_DETAIL_H h LEFT JOIN T_SAP_POS_DETAIL_I i ON h.PKID = i.PKID
        WHERE  h.DEPTID = #{deptid}
        AND i.GOODSID = #{goodsid}
        AND h.DATEUPLOAD >= TO_DATE(#{dateUploadStart},'YYYY-MM-DD HH24:mi:ss')
        AND h.DATEUPLOAD &lt;= TO_DATE(#{dateUploadEnd},'YYYY-MM-DD HH24:mi:ss')
    </select>

</mapper>
