<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.tradefix.dao.TradeFixDao">

    <select id="findByCondition" parameterType="com.lbx.tradefix.vo.query.FixDataQuery" resultType="com.lbx.tradefix.vo.FixDataVo">
        select * from fix_data
        <where> 1=1
            <if test="billdate!=null">
                and billdate = #{billdate}
            </if>
            <if test="billdateStart!=null">
                and billdate >= #{billdateStart}
            </if>
            <if test="billdateEnd!=null">
                and billdate &lt;= #{billdateEnd}
            </if>
            <if test="deptid!=null">
                and deptid = #{deptid}
            </if>
            <if test="udfcode!=null">
                and udfcode = #{udfcode}
            </if>
            <if test="erpNum!=null">
                and erp_num  = #{erpNum}
            </if>
            <if test="diffNum!=null">
                and diff_num  = #{diffNum}
            </if>
<!--            <if test="ltDiffNum!=null and ltDiffnum = 0">-->
<!--                and diff_num  >  0-->
<!--            </if>-->

<!--            <if test="ltDiffNum!=null and ltDiffnum = 1">-->
<!--                and diff_num  &lt;  0-->
<!--            </if>-->
            <if test="status!=null">
                and status  = #{status}
            </if>
            <if test="line!=null">
                and line = #{line}
            </if>
            order by line
        </where>
    </select>

    <select id="findByLine"  resultType="com.lbx.tradefix.vo.FixDataVo">
        select * from fix_data
        where line = #{line}

    </select>
    <update id="update" parameterType="com.lbx.tradefix.vo.FixDataVo">
        update fix_data set status = #{status},result = #{remark},diff_num=#{diffNum}
        where line = #{line}
    </update>

    <insert id="insertSapData">
        insert into sap_data(line, billdate, pkid, deptid, goodsid, pbseqid, posbillno, total, billtypeid, fgtyp,dateupload)
            values
                <foreach collection="list" separator="," item="item">
                    (#{item.line},#{item.billdate},#{item.pkid},#{item.deptid},
                    #{item.goodsid},#{item.pbseqid},#{item.posbillno},#{item.total},#{item.billtypeid},#{item.fgtyp},#{item.dateupload})
                </foreach>
    </insert>

    <insert id="insertReport">
        insert into report(line, bill_no, sap_num, erp_num,status,msg,business_id,company_id,type,ware_inside_code,price,ware_inside_code1,ware_inside_code2) values
            <foreach collection="list" separator="," item="item">
                (#{item.line},#{item.billNo},#{item.sapNum},#{item.erpNum},#{item.status},#{item.msg},#{item.businessId},
                #{item.companyId},#{item.type},#{item.wareInsideCode},#{item.price},#{item.wareInsideCode1},#{item.wareInsideCode2})
            </foreach>
    </insert>

    <select id="selectReport" resultType="com.lbx.tradefix.vo.ReportVo" parameterType="com.lbx.tradefix.vo.ReportVo">
        select * from report
        where 1=1
            <if test="status!=null">
                and status = #{status}
            </if>
    </select>

    <update id="updateReport" parameterType="com.lbx.tradefix.vo.ReportVo">
        update report set
            <if test="status!=null">
                status = #{status}
            </if>
            <if test="price!=null">
                ,price = #{price}
            </if>
            <if test="price1!=null">
                ,price1 = #{price1}
            </if>
            <if test="price2!=null">
                ,price2 = #{price2}
            </if>
        where line = #{line}
    </update>

    <select id="findXmByCondition" resultType="com.lbx.tradefix.vo.FixDataVo">
        select * from fix_data_xm
        where 1=1
            <if test="status!=null">
                and status = #{status}
            </if>
    </select>

    <insert id="insertFixResultStock">
        insert into fix_result_stock(billNumber, orderId, billType, changeStockQty, sapNum, billOperateTime, wareInsideCode, status, originNum,line,companyId,businessId)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.billNumber},#{item.orderId},#{item.billType},#{item.changeStockQty},#{item.sapNum},#{item.billOperateTime},#{item.wareInsideCode},#{item.status},#{item.originNum},
            #{item.line},#{item.companyId},#{item.businessId})
        </foreach>

    </insert>

    <insert id="insertFixResultStockLy">
        insert into fix_result_stock_ly(billNumber, orderId, billType, changeStockQty, sapNum, billOperateTime, wareInsideCode, status, originNum,line,companyId,businessId,
        remark,sapDate,stockDate,result)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.billNumber},#{item.orderId},#{item.billType},#{item.changeStockQty},#{item.sapNum},#{item.billOperateTime},#{item.wareInsideCode},#{item.status},#{item.originNum},
            #{item.line},#{item.companyId},#{item.businessId},#{item.remark},#{item.sapDate},#{item.stockDate},#{item.result})
        </foreach>

    </insert>
</mapper>
